@{
    ViewData["Title"] = "Dashboard - Bác sĩ";
    var fullName = User.Claims.FirstOrDefault(c => c.Type == "full_name")?.Value ?? User.Identity?.Name;
}

<h2 class="mb-1">Dashboard Bác sĩ</h2>
<div class="text-muted mb-3">Xin chào, @fullName</div>

<div class="card">
    <div class="card-body">
        <a href="/MedicalRecord/Index">MedicalRecord</a></br>
        <a href="/DoctorSchedule/Index">DoctorSchedule</a>
    </div>
</div>

